embed{
    width : 80%;
    height : 95%;
}
.invisible{
    display:none;
}

.scroll-x{
    overflow-x:auto;
}
html,body{
    overflow-x:hidden;
}
.notification {
    background-color: #555;
    color: white;
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
}

.notification:hover {
    background: #666;
}

.notification .badge {
    position: absolute; 
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
}
